extends layout 

block content 
  h1 Brand: #{title}

  dl.brand-goggle-list
    each goggle in goggles
      hr
      dt
        a(href=goggle.url) #{goggle.name} 
      dd= goggle.description 
      | $#{goggle.cost}

    else 
      hr
      dt There are no goggles with this brand.