extends layout 

block content 
  h1 Category: #{title}

  dl.category_detail
    hr 

    each goggle in goggle_list 
      dt 
        a(href=goggle.url) #{goggle.name} 
        | // #{goggle.brand.name}
      dd= goggle.description 
      | $#{goggle.cost}

      hr 
    
    else 
      dt There are no goggles in this category.
