extends layout 

block content 
  h1= title 
  h4
    a(href=goggle.brand.url) #{goggle.brand.name}
  p= goggle.description
  p #{instance.lens.detail}.

  p Category: 
    a(href=goggle.category.url) #{goggle.category.title}
  
  if goggle.tag.length > 1
    p Tags: 
      each tag, index in goggle.tag 
        a(href=tag.url) #{tag.name}
        if index < goggle.tag.length - 1
          |, 
  else if goggle.tag.length > 0
    p Tag: 
      each tag in goggle.tag 
        a(href=tag.url) #{tag.name}
  else 
    p
    
  hr
  p 
    a(href=instance.url+'/update') Update #{goggle.name} + #{instance.lens.style}
  hr
  p 
    a(href=instance.url+'/delete') Delete #{goggle.name} + #{instance.lens.style}