extends layout 

block content 
  h1= title 

  form(method='POST' action='')
    div.form-group 
      label(for="name") Model: 
      input#name.form-control(type='text' placeholder='Name of goggle' name='name' required='true' value=(undefined===goggle ? '' : goggle.name) )
    div.form-group 
      label(for='brand') Brand: 
      select#brand.form-control(type='select' placeholder='Select brand' name='brand' required='true')
        - brands.sort(function(a, b) {let brandA = a.name.toUpperCase(); let brandB = b.name.toUpperCase(); return (brandA < brandB) ? -1 : (brandA > brandB) ? 1 : 0;});

        for brand in brands   
          if goggle
            option(value=brand._id selected=(brand._id.toString()===goggle.brand._id.toString() ? 'selected' : false) ) #{brand.name}
          else 
            option(value=brand._id) #{brand.name}
    div.form-group 
      label(for='description') Description: 
      input#description.form-control(type='textarea' placeholder='Share details about the goggles (materials, fit, performance)' name='description' required='true' value=(undefined===goggle ? '' : goggle.description) )
    div.form-group 
      label(for='category') Category: 
      select#category.form-control(type='select' placeholder='Select category' name='category' required='true')
        - categories.sort(function(a, b) {let catA = a.order; let catB = b.order; return (catA < catB) ? -1 : (catA > catB) ? 1 : 0;});

        for category in categories   
          if goggle
            option(value=category._id selected=(category._id.toString()===goggle.category._id.toString() ? 'selected' : false) ) #{category.title}
          else 
            option(value=category._id) #{category.title}
    div.form-group 
      label(for='cost') Cost: 
      input#cost.form-control(type='number' name='cost' required='true' min="50" max="325" value=(undefined===goggle ? '' : goggle.cost))
    div.form-group 
      label Tags: 
      div 
        for tag in tags   
          div(style='display:inline; padding-right:10px;')
            input.checkbox-input(type='checkbox' name='tag' id=tag._id value=tag._id checked=tag.checked )
            label(style='margin: 0 10px 0 5px' for=tag._id) #{tag.name}
            
    button.btn.btn-primary(type='submit') Submit 
  
  if errors 
    hr
    br
    ul.err-list 
      for error in errors 
        li  #{error.msg}!