extends layout 

block content 
  h1 #{title} 
  
  if goggles.length 

    p #[strong Delete the following goggles before attempting to delete this tag.] 
    
      div(style='margin: 20px 0 0 20px;')

        h4 Goggles 
        
        dl 
        each goggle in goggles 
          dt 
            a(href=goggle.url) #{goggle.name} 
          dd #{goggle.description} 
  
  else 
    p Do you really want to delete #{tag.name} from the database?

    form(method='POST' action='') 
      div.form-group 
        input#tagid.form-control(type='hidden' name='tagid' required='true', value=tag._id )
      button.btn.btn-primary(type='submit') Confirm Delete


